body{
    width: 100%;
    height: auto;
    float: left;
    padding: 0;
    margin: 0;
    background: url(./img/top-bar-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}
img{
    width: 100%;
    height: auto;
}
.ProductsWrapper{
    width: 100%;
    height: auto;
    float: left;
    margin: 40px 0;
}
@media only screen and (max-width: 1500px) {
    .container{
        width: 100%;
        max-width: 95%;
        margin: 0 auto;
    }
}